# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
next-env.d.ts

# testing
coverage/
playwright-report/
test-results/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# editor
.vscode/
.idea/
.claude/
